@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/*Oswald*/
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&family=Bebas+Neue&family=Noto+Serif+JP:wght@500&family=Oswald&family=Roboto+Slab:wght@400;800&family=Signika+Negative:wght@700&family=Staatliches&family=Zilla+Slab:ital,wght@1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Hide scrollbar track */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: rgb(42, 40, 55); /* Track color */
}

/* Scrollbar Handle */
::-webkit-scrollbar-thumb {
  background-color: #87ceeb; /* Sky Blue */ /* Handle color */
  border-radius: 6px; /* Rounded corners on the handle */
}

body {
  background-color: #04aa6d2d; /* Sky Blue */
}
/*Nav*/
li,
a,
button {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #edf0f1;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 8%;
}

.logo {
  cursor: pointer;
  width: 50px;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
  padding: 0 20px;
}

button {
  padding: 9px 25px;
  background-color: #04aa6d; /* Sky Blue */
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  color: rgb(42, 40, 55);
  font-weight: bold;
  font-size: 20px;
}

/*Footer*/
.container {
  max-width: 1280px;
  margin: auto;
  padding-left: 70px;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
ul {
  list-style: none;
}
.footer {
  padding: 30px 0;
  background-color: rgb(42, 40, 55);
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #f4f49f;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: #f4f49f;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
  font-weight: 400;
}
.footer-col ul li a:hover {
  color: #f4f49f;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgb(42, 40, 55);
  border: 1px solid white;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #f4f49f;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  color: #f4f49f;
  background-color: #dfdfdf;
}
.flm {
  width: 300px;
  padding: 20px 0;
  border-radius: 5px;
  margin: 0 0 0 600px;
}
/*responsive*/
@media (max-width: 767px) {
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
}

/*uplode form*/
.uplodebx {
  padding: 20px 0 60px 0;
}
.topic-uplode {
  color: #04aa6d;
  font-size: 50px;
  text-align: center;
  padding: 0 0 20px 0;
}

.uplode-container {
  margin: 0 auto; /* Set margin to auto to horizontally center */
  max-width: 465px; /* Set a maximum width if desired */
}
.uplode-card {
  background-color: white;
  width: 450px;
  height: 500;
  border-radius: 8px;
  padding: 25px;
}
.lable-uplode {
  font-size: 20px;
  font-weight: bold;
  margin: 25px 0;
}
.uplode-input {
  width: 100%;
  height: 35px;
  border: 1px solid rgb(42, 40, 55);
  border-radius: 2px;
  margin: 10px 0;
  font-size: 18px;
  padding: 5px;
}

.uplode {
  border-radius: 5px;
  color: white;
}
.button-form {
  text-align: center;
}
.uplode-input-text {
  width: 100%;
  height: 85px;
  border: 1px solid rgb(42, 40, 55);
  border-radius: 2px;
  margin: 10px 0;
  resize: none;
  font-size: 18px;
  padding: 5px;
}

.dl {
  background-color: red;
  color: white;
}
