<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.vehicle.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>add</servlet-name>
		<servlet-class>com.vehicle.VehicleInsert</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>add</servlet-name>
		<url-pattern>/add</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>updatecustomer</servlet-name>
		<servlet-class>com.vehicle.UpdateVehicleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updatecustomer</servlet-name>
		<url-pattern>/update</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletecustomer</servlet-name>
		<servlet-class>com.vehicle.DeleteVehicleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deletecustomer</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	
</web-app>	
	