body {
  font-family: Arial, sans-serif;
  background-image: url("Image3.jpg"); /* Replace with your image path */
  background-size: cover;
  background-position: 50%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden; /* This prevents the image from overflowing */
  backdrop-filter: blur(5px); /* Apply a blur effect */
  background-color: #1f2833;
}

.container {
  display: flex;
  max-width: 800px;
  width: 100%;
  padding-left: 20px;
  color: #1f2833;
}

.profile-icon {
  text-align: center;
  margin-bottom: 20px;
}

.profile-icon img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.left-half,
.right-half {
  flex: 1;
}

.left-half {
  flex: 1;
  background-image: url("Image2.jpg"); /* Replace with your image path */
  background-size: cover;
}

.message {
  text-align: center;
  color: #000000; /* Adjust the text color for visibility */
}

.message p {
  font-size: 30px;
}

.right-half {
  background-color: #fff;
  padding: 20px;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  padding-top: 100px;
}

h2 {
  text-align: center;
}

.form-group {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  font-weight: bold;
  margin: 10px 0;
}

button:hover {
  background-color: #66fcf1;
  color: #1f2833;
}

button:active {
  background-color: #004380;
}
